@font-face {
  font-family: 'Orbit-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/Orbit-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'Orbit-Regular';
}

div{
  text-align: center;
}

.sub-text-call{
  text-align: center;
  color: #55f;
  font-size: 1.5em;
}

#call-table{
    background-color: #55f;
    font-size: 1.3em;
    font-weight: bold;
    color: #fff;
    text-align: center;
  }

.test-call{
  text-align: center;
  color: #f55;
  font-size: 1.5em;
}

#link-crud{
    background-color: #f55;
    font-size: 1.3em;
    font-weight: bold;
    color: #fff;
    text-align: center;
  }